<footer class="bg-stone-100 dark:bg-stone-800 py-20">
  <div
    class="grid w-full grid-flow-row sm:grid-flow-col place-items-start gap-y-10 gap-x-4 text-sm [&>*]:grid [&>*]:place-items-start [&>*]:gap-2 p-10 text-base-content max-w-7xl 2xl:max-w-[2000px] mx-auto"
  >
    <div>
      <img
        src="assets/images/logo/logo 3.svg"
        class="h-6 dark:invert dark:opacity-75"
      />
      <p>Khatera Gross<br />Providing reliable home staging</p>
    </div>
    <div>
      <span class="mb-2 font-bold uppercase opacity-50">Company</span>
      <a class="link link-hover" [routerLink]="['/', 'preview', 'me']">
        About us
      </a>
      <a class="link link-hover" [routerLink]="['/', 'preview', 'contact']">
        Contact
      </a>
      <!-- <a class="link link-hover">Jobs</a>
      <a class="link link-hover">Press kit</a> -->
    </div>
    <div>
      <span class="mb-2 font-bold uppercase opacity-50"> Blog </span>
      <a
        class="link link-hover line-clamp-1 max-w-[35ch]"
        [routerLink]="['/', 'blog', post.attributes.slug]"
        *ngFor="let post of blogPosts()"
      >
        {{ post.attributes.Titel }}
      </a>
    </div>
    <div>
      <span class="mb-2 font-bold uppercase opacity-50">Referenzen</span>
      <a
        class="link link-hover line-clamp-1 max-w-[35ch]"
        [routerLink]="['/', 'projects', reference.attributes.slug]"
        *ngFor="let reference of references()"
      >
        {{ reference.attributes.Titel }}
      </a>
    </div>
    <div>
      <span class="mb-2 font-bold uppercase opacity-50">Legal</span>
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </div>
    <div>
      <span class="mb-2 font-bold uppercase opacity-50">Newsletter</span>
      <div class="form-control w-80">
        <label class="label">
          <span class="label-text">Enter your email address</span>
        </label>
        <div class="relative">
          <input
            type="text"
            placeholder="username@site.com"
            class="input input-bordered w-full pr-16"
          />
          <button
            class="btn btn-primary bg-emerald-400 absolute top-0 right-0 rounded-l-none"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
