<section
  class="mt-16 min-h-[70vh] relative bg-lime-900 dark-overlay flex items-center"
>
  <img
    src="/assets/images/backgrounds/hero/1.jpg"
    class="absolute inset-0 w-full h-full object-cover object-center"
  />
  <div
    class="max-w-7xl mx-auto w-full relative z-10 py-20 text-stone-50 grid gap-4 grid-cols-2 items-center"
  >
    <div class="text-content">
      <p class="uppercase">Professional Home-Staging</p>
      <h1 class="uppercase mt-4 mb-6 text-8xl font-black tracking-[-0.05em] max-w-lg">
        Khatera Gross
      </h1>
      <div class="buttons flex gap-4 items-center">
        <kg-main-button [options]="{ cta: true, size: 'large' }">Kontaktieren</kg-main-button>
        <kg-main-button [options]="{ cta: false, size: 'large' }">
          Was ist Home-Staging
        </kg-main-button>
      </div>
    </div>
    <div class="benefits">
      <div class="grid grid-cols-3 items-center sm:hidden">
        @for (benefit of benefits(); track benefit.title; let idx = $index) {
        <div class="benefit text-center">
          <fa-icon size="2xl" class="scale-150" [icon]="benefit.icon"></fa-icon>
          <h2 class="text-2xl mt-2 font-extrabold">
            {{ benefit.title }}
          </h2>
          <!-- <p class="text-sm">{{ benefit.text }}</p> -->
        </div>
        }
      </div>
    </div>
  </div>
</section>
