<header
  class="text-primary-400 dark:text-primary-50 h-14 sm:h-16 flex items-center px-4 justify-between border-b-[1px] fixed w-full top-0 z-50"
  [ngClass]="{
    'bg-white/90 dark:bg-black/50 dark:text-stone-50 backdrop-blur-[5px] backdrop-saturate-200 text-stone-700 border-stone-50/70':
      scrolled(),
    'text-stone-700 dark:text-stone-50 border-stone-50': !scrolled()
  }"
>
  <div class="hidden sm:flex absolute top-full inset-x-0 justify-end px-4 py-4">
    <kg-main-button
      [options]="{ cta: true }"
      [routerLink]="['/preview/contact']"
      class="transition"
      [ngClass]="{
        'opacity-0 -translate-y-full': !scrolled(),
        'opacity-100 translate-y-0': scrolled()
      }"
    >
      Termin
    </kg-main-button>
  </div>
  <div class="sm:hidden">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="material-icons-outlined relative -top-[2px]">
        dark_mode
      </mat-icon>
    </button>
  </div>
  <!-- <img src="assets/images/logo/logo-chatera-gross-v2-transparent.png" class="h-8 sm:h-9"> -->
  <!-- <div>
    <h2 [routerLink]="['/']" class="text-3xl font-Comforter">Khatera Gross</h2>
  </div> -->
  <figure [routerLink]="['/']" class="cursor-pointer">
    <picture>
      <img src="assets/images/logo/logo 3.svg" class="h-6 dark:invert" />
    </picture>
  </figure>

  <nav class="items-center hidden sm:flex">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" animationDuration="600ms" class="hidden sm:flex uncolored">
      @for(link of links; track link.path) {
      <a
        mat-tab-link
        routerLinkActive
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: link.exactMatch }"
        [routerLink]="link.path"
        [active]="rla.isActive"
      >
        <span>{{ link.label }}</span>
      </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel class="uncolored"></mat-tab-nav-panel>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="flex items-center"
    >
      <mat-icon class="material-icons-outlined relative"> dark_mode </mat-icon>
    </button>
    <a
      href="https://www.linkedin.com/in/chatera-khaty-gross-09b294276"
      target="_blank"
      class="ml-4"
    >
      <fa-icon [icon]="linkedIn" size="xl"></fa-icon>
    </a>
  </nav>
  <div class="sm:hidden">
    <button mat-icon-button>
      <mat-icon class="material-icons-outlined relative -top-[2px]">
        menu
      </mat-icon>
    </button>
  </div>
</header>

<mat-menu #menu="matMenu">
  <div class="flex flex-col -my-2">
    <div mat-menu-item>
      <p class="text-xs font-black uppercase tracking-[0.2em]">Select Theme</p>
    </div>
    <mat-divider></mat-divider>
    <div
      mat-menu-item
      class="flex flex-row items-center gap-2"
      (click)="setTheme('dark')"
    >
      <mat-icon class="material-icons-outlined">dark_mode</mat-icon>
      <span class="">Dark Theme</span>
    </div>
    <div
      mat-menu-item
      class="flex flex-row items-center gap-2"
      (click)="setTheme('light')"
    >
      <mat-icon class="material-icons-outlined">light_mode</mat-icon>
      <span class="">Light Theme</span>
    </div>
    <mat-divider></mat-divider>
    <div mat-menu-item class="flex flex-row items-center gap-2">
      <mat-icon class="material-icons-outlined">sensors</mat-icon>
      <span class="">Automatisch</span>
    </div>
  </div>
</mat-menu>

<mat-menu #dropdown="matMenu">
  <div mat-menu-item class="flex flex-row items-center gap-2">
    <mat-icon class="material-icons-outlined">real_estate_agent</mat-icon>
    <span>Home Staging</span>
  </div>
  <div mat-menu-item class="flex flex-row items-center gap-2">
    <mat-icon class="material-icons-outlined">cottage</mat-icon>
    <span>Home Preparation</span>
  </div>
</mat-menu>
