<section
  class="bg-primary-500 dark:bg-olive-900 py-12 mt-16 text-stone-100 overflow-hidden"
>
  <div class="max-w-7xl mx-auto w-full grid grid-cols-2 items-center">
    <div class="content">
      <span
        class="giphy-background block saturate-[.75] text-9xl -tracking-[0.075em] uppercase font-black invert-0 text-transparent bg-clip-text bg-center bg-stone-50"
      >
        Khatera<br />Gross
      </span>
      <p class="my-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
        vero. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, ad
        illum possimus natus consequuntur repudiandae ipsum minima illo nisi ex
        deleniti nulla omnis magni aliquam nostrum itaque perferendis fugit
        labore!
      </p>
      <kg-main-button [options]="{ cta: true }">Anrufen</kg-main-button>
    </div>
    <!-- <kg-stacking-cards /> -->
    <kg-card-grid />
    <!-- <div class="flex items-center justify-end">
     <div
        class="rounded-full aspect-square w-80 border-4 mt-4 border-stone-50 relative bg-primary-200"
      >
        <img
          src="https://images.unsplash.com/photo-1613977257592-4871e5fcd7c4?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="w-full h-full max-w-full rounded-full max-h-full object-cover opacity-90"
        />
        <img
          src="assets/images/about/kg.png"
          class="w-full h-full object-cover absolute inset-0 rounded-b-full -translate-y-[6%] scale-[1.12]"
        />
      </div>
    </div> -->
  </div>
</section>
